.branch-list-container {
  margin-top: 20px;
  overflow-x: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

th, td {
  border: 1px solid #e0e0e0;
  text-align: left;
}

th {
  background-color: #f8f9fa;
  font-weight: 700;
  font-size: 18px;
  color: rgb(38, 198, 249);
}

tr:hover {
  background-color: #f1f1f1;
}

th:first-child, td:first-child {
  text-align: center;
  width: 50px;
}

td {
  color: #555;
}

td button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-flex; /* Aligns icons in a row */
  align-items: center; /* Ensures proper alignment of icons */
  background-color: transparent; /* Removes background color */
}

/* Remove background color on hover */
td button:hover {
  background-color: transparent;
}

td button:first-child .icon,
td button:last-child .icon {
  color: grey; /* Grey color for icons */
  font-size: 18px;
}

/* Optional: Add spacing between the icons */
td button:first-child .icon,
td button:last-child .icon {
  margin-right: 4px; /* Adjust spacing between icons */
}
