.manage-branch-container {
  margin: 0px 20px 0 240px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.actions {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-between;
}

.left-actions,
.right-actions {
  display: flex;
  align-items: center;
}

.left-actions {
  gap: 10px;
  width: 70%; 
  justify-content: flex-start; 
}

.right-actions {
  gap: 10px;
  width: 30%; 
  justify-content: flex-end; 
}

.left-actions .add-button {
  background-color: rgb(38, 198, 249); 
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  font-size: 24px;
}

.add-button svg {
  color: white; 
  font-size: 24px;
}

.add-button:hover {
  background-color: rgb(28, 169, 219); 
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  font-size: 24px;
  color: #888;
  margin-right: 10px;
}

.actions input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%; 
  font-size: 20px;
}

.actions input[type="text"]:focus {
  outline: none; 
}

.actions button {
  padding: 10px 10px;
  color: grey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 24px;
}

.upload-label,.upload-excel{
  padding: 10px 10px;
  color: grey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 24px;
}

.actions button svg {
  margin-right: 5px; 
}

.actions button:hover {
  background-color: transparent;
  color: #007bff;
}

.actions input[type="file"] {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border: none;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}
