/* Sidebar Container */
.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 15px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Logo Section */
.sidebar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.short-logo {
  width: 60px;
}

.full-logo {
  width: 100px;
  margin-left: 10px;
}

/* Sidebar List Items */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  color: #808080;
  display: flex;
  align-items: center;
}

.sidebar a:hover {
  color: #007bff;
}

.sidebar a svg {
  margin-right: 10px;
}

/* Active Item Styling */
.sidebar .active {
  
  color: black !important;
}

.sidebar .active a {
  color: white !important;
}

/* Masters Menu */
.masters-item {
  display: flex;
  cursor: pointer;
}

.master-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }



.chevron-icon {
  font-size: 18px;
}

/* Submenu Styling */
.sub-menu {
  display: block;
}

.sub-menu-item {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between icon and text */
  transition: background-color 0.3s, color 0.3s;
}

.sub-menu-item:hover {
  background-color: #e9ecef;
  color: #007bff;
  cursor: pointer;
}

.sub-menu-item.active {
  background-color: #007bff;
  color: white;
}

.sub-menu-item.active a {
  color: white;
}

/* Help Section */
.sidebar li:last-child {
  margin-top: 20px;
}
