/* Add this to your App.css file */

.container {
  display: flex; 
  flex-direction: row;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed; 
    height: 100vh; 
    width: 200px; 
    padding: 20px;
    background-color: white; 
    border-right: 1px solid gray; 
  }

  .main-content {
    flex-grow: 1;
    padding: 20px; 
    overflow-y: auto; 
  }
}